extends ../layouts/sheet.jade

include ../layouts/mixins/bootstrap

block content
        
  form#contact(action="", method="post")
  
    .form-horizontal
      +bs-form-group()
        h1 Compose a message
          
      +bs-form-group("To")
        p.form-control-static
          | Niels Hoppe &lt;<a href="mailto:asdf1234@nielshoppe.de">asdf1234@nielshoppe.de</a>&gt;
          | 
          span.text-muted Please do not add this adress to your adress book! 
            a(
              href="#asdf1234",
              role="button",
              data-toggle="collapse",
              aria-expanded="false",
              aria-controls="asdf1234"
              ) Click to read why.
        p#asdf1234.help-block.collapse
          | In order to fight spam this adress changes regularly.
          | Messages to expired adresses will get lost and do not reach me.
          | You can save the adress that I use when I reply to your message.
        
      .form-group
        label.control-label.col-sm-2 From
        .col-sm-5
          input.form-control(placeholder="Your Name", autofocus)
        .col-sm-5
          input.form-control(placeholder="your.email@example.com", type="email")
              
      //+bs-form-group("Subject")
        input.form-control(placeholder="What is your message about?")
          
      +bs-form-group("Message")
        textarea.form-control(rows="10")
          
      +bs-form-group("Attachment")
        .btn-group
          button.btn.btn-default.dropdown-toggle(
            type="button",
            data-toggle="dropdown",
            aria-haspopup="true",
            aria-expanded="false"
            ) Choose attachment 
            span.caret
          ul.dropdown-menu
            //li: a(
              title="Add a digital business card.",
              data-toggle="collapse",
              href="#"
              ) VCard
            li: a(
              title="Add information required for a showdance.",
              data-toggle="collapse",
              href="#schautanz"
              ) Schautanzantrag
            //li: a(
              title="Add your public SSH key",
              data-toggle="collapse",
              href="#help-attachments"
              ) SSH public key
            li: a(
              title="Other file.",
              data-toggle="collapse",
              href="#help-attachments"
              ) Other file
          
        #help-attachments.collapse
          p.help-block
            | This form does not support file attachments, yet.
            | Please use your email client (e.g. Thunderbird or Outlook) to send small files.
            | Please upload larger attachments to online storage (e.g. Dropbox or Google Drive) and send me a download link.
            
          button.btn.btn-default(
            type="submit",
            formaction="mailto:asdf1234@nielshoppe.de",
            title="Your message will be opened in your email client."
            ) Switch to email client
          
    #schautanz.collapse
      include ../partials/contact_schautanz.jade
          
    .form-horizontal
      .form-group
        .col-sm-10.col-sm-offset-2
          button.btn.btn-primary(type="submit") Send message
          button.btn.btn-default.pull-right(type="reset") Discard
