---
layout: jade/sheet
title: About
---

mixin date (start, end)
    if start && end
        if start == end
            | #{end}
        else
            | #{start} - #{end}
    else if start
        | since #{start}
    else if end
        | until #{end}

mixin hasEducation (edu)
    .row(id= id(edu))
        .col-date
            +date(edu.eduStartDate, edu.eduGradDate)
        .col-details
            p
                a.show-details-switch(href= "#" + id(edu) )= edu.degreeType
                    if edu.eduMajor
                        |  in #{edu.eduMajor}
                if edu.grade
                    |  (#{edu.grade})
                br.hidden-md.hidden-lg
                |  at 
                a(href=edu.studiedIn.URL)= edu.studiedIn.Name
            .description.hidden
                | !{edu.eduDescription}
            
mixin hasWorkHistory (work)
    .row(id= id(work))
        .col-date
            +date(work.startDate, work.endDate)
        .col-details
            p
                a.show-details-switch(href= "#" + id(work) )= work.jobTitle
                br.hidden-md.hidden-lg
                |  at 
                a(href=work.employedIn.URL)= work.employedIn.Name
            .description.hidden
                | !{ markdown(work.jobDescription) }
            
mixin hasOtherInfo (info)
    .row(id= id(info))
        .col-date
            +date(info.startDate, info.endDate)
        .col-details
            p!= info.otherInfoDescription

#about
    h1 About
    
    p
        | My name is Niels and I work, study, dance, live in Berlin, where I was born in 1991.
        | Find a kind of resume and curriculum vitae in the following.
        | You can show or hide 
        a#show-past-switch.on(href="#") past
        |  or 
        a#show-present-switch.on(href="#") present
        |  activities and achievements.
        //
            | You can show or hide 
            a#show-past-switch.on(href="#") past
            | , 
            a#show-present-switch.on(href="#") present
            |  or 
            a#show-future-switch.off(href="#") future
            |  activities and achievements.
            | Entries with a date in the future bear witness to my ambitions but are purely fictional at present.
        |  Feel free to 
        a(href="contact.html") contact me
        |  if you like.

    p.small A note for recruiters: I am open to being contacted, but please be aware that I am currently a student, employed and quite happy with my job.
    
    | {% for entry in site.data.cv.hasEducation %}
    |   {{ entry.degreeType }}
    | {% endfor %}
    
//
    each facts, section in cv
        unless section == "@type" || section == "@context"
            section
                case section
                    when "hasEducation"
                        h2 Education
                        
                        for record in facts
                            if (!record.hidden)
                                +hasEducation(record)
                                        
                    when "hasWorkHistory"
                        h2 Work and Teaching Experience
                        
                        for record in facts
                            if (!record.hidden)
                                +hasWorkHistory(record)

                    default
                        h2= section
                        
                        for record in facts
                            if (!record.hidden)
                                +hasOtherInfo(record)
